body {
  margin: 36px;
}

.movie {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 451px;
  height: 279px;
  background: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.img-container {
  width: 183px;
  height: 100%;
}

.movie-overview {
  height: 84px;
  padding-top: 10px;
  width: 228px;

  display: flex;
  flex-direction: column;
}

.movie:hover {
  transform: translateY(-5px);
}

.movie img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #333;
  font-family: 'Inter', sans-serif;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time {
  font-size: 14px;
  display: inline-block;
  color: #827e7e;
  padding: 7px 0;
  font-family: 'Inter', sans-serif;
}

.movie-genres {
  list-style: none;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
  overflow: scroll;
  scrollbar-width: none;
}

.movie-genres li {
  background: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 14.52px;
  color: rgba(0, 0, 0, 0.65);
  border: 1px solid #d9d9d9;
  font-family: 'Inter', sans-serif;
  white-space: nowrap;
}

.description-container {
  width: 228px;
}

.movie-description {
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  color: #333;
  padding: 7px 0 0 0;
  font-family: 'Inter', sans-serif;
  margin: 0;
  overflow: hidden;

  /* GPT помог */
  display: -webkit-box;
  -webkit-line-clamp: 6; /* Ограничение количества строк */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis; /* Добавляет многоточие при обрезании */
}

.movie-rating {
  position: absolute;
  top: 8px;
  right: 7px;
  background: #fff;
  border-radius: 50%;
  font-size: 14px;
  color: #333;
}

.custom-rate {
  font-size: 15px;
  position: absolute;
  bottom: 19px;
  right: 20px;
}

@media (max-width: 523px) {
  body {
    margin: 0;
  }

  .img-container {
    min-width: 0px;
    height: 91px;
    padding: 6px 0 0 10px;
    width: 60px;
  }

  .movie img {
    width: 60px;
    height: 91px;
  }

  .movie {
    align-content: flex-start;
    flex-wrap: wrap;
    width: 387px;
    height: 245px;
    flex-direction: row;
  }

  .movie-overview {
    height: 91px;
    padding-top: 4px;
    padding-left: 13px;
  }

  .description-container {
    width: 367px;
  }

  .movie-description {
    padding: 10px;
  }

  .custom-rate {
    font-size: 15px;
    position: absolute;
    bottom: 19px;
    right: 12px;
  }
}
